<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <context-param>
    <param-name>driver_class</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306/test</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>mrtimlong</param-value>
  </context-param>
  
  
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>cn.edu.nuist.testSystem.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyLoginServlet</servlet-name>
    <servlet-class>cn.edu.nuist.testSystem.controller.MyLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuestionInputServlet</servlet-name>
    <servlet-class>cn.edu.nuist.testSystem.controller.QuestionInputServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewQuestionsServlet</servlet-name>
    <servlet-class>cn.edu.nuist.testSystem.controller.ViewQuestionsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImportQuesServlet</servlet-name>
    <servlet-class>cn.edu.nuist.testSystem.controller.ImportQuesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewChoicesQuestionsServlet</servlet-name>
    <servlet-class>cn.edu.nuist.testSystem.controller.ViewChoicesQuestionsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewGap_fillQuestionsServlet</servlet-name>
    <servlet-class>cn.edu.nuist.testSystem.controller.ViewGap_fillQuestionsServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>ProducePaperServlet</servlet-name>
    <servlet-class>cn.edu.nuist.testSystem.controller.ProducePaperServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyLoginServlet</servlet-name>
    <url-pattern>/MyLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionInputServlet</servlet-name>
    <url-pattern>/QuestionInputServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewQuestionsServlet</servlet-name>
    <url-pattern>/ViewQuestionsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImportQuesServlet</servlet-name>
    <url-pattern>/ImportQuesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewChoicesQuestionsServlet</servlet-name>
    <url-pattern>/ViewChoicesQuestionsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewGap_fillQuestionsServlet</servlet-name>
    <url-pattern>/ViewGap_fillQuestionsServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ProducePaperServlet</servlet-name>
    <url-pattern>/ProducePaperServlet</url-pattern>
  </servlet-mapping>
  
</web-app>